{# Default #}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

<title>Luis Bizarro - Creative Technologist</title>

<meta name="description" content="Senior Creative Technologist at  Apple with focus on real-time 3D experiences using WebGL. Awwwards Independent of The Year 2021.">

<meta property="og:type" content="website">
<meta property="og:title" content="Luis Bizarro - Creative Technologist">
<meta property="og:description" content="Senior Creative Technologist at  Apple with focus on real-time 3D experiences using WebGL. Awwwards Independent of The Year 2021.">
<meta property="og:image" content="/shared/share.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Luis Bizarro - Creative Technologist">
<meta name="twitter:description" content="Senior Creative Technologist at  Apple with focus on real-time 3D experiences using WebGL. Awwwards Independent of The Year 2021.">
<meta name="twitter:image" content="/shared/share.jpg">

{# Stylesheets #}
<link rel="stylesheet" href="/assets/bundle.css" type="text/css">

{# Favicons #}
<link rel="apple-touch-icon" sizes="180x180" href="/shared/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/shared/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/shared/favicon/favicon-16x16.png">
<link rel="manifest" href="/shared/favicon/site.webmanifest" crossorigin="use-credentials">
<link rel="mask-icon" href="/shared/favicon/safari-pinned-tab.svg" color="#000000">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#000000">
