<section class="project">
    <header class="project__header">
        <div class="project__header__content">
            <p class="project__header__information" data-gl-text="uppercase">
                Active Theory
            </p>

            <h3 class="project__header__title" data-gl-text="uppercase">
                Adventure Time<br>
                Distant Lands
            </h3>

            <p class="project__header__description" data-gl-text>
                Implemented the majority of the interactions of the experience:<br>
                introduction from galaxy to spaceship, BMO animations and reactions,<br>
                computer interactive user interface, beat maker, potato pong game,<br>
                spaceship screens glitch and lightspeed galaxy animation.
            </p>
        </div>

        <a class="project__header__link" href="https://medium.com/active-theory/adventure-time-distant-lands-bmo-5997687372b7" target="_blank">
            <span class="project__header__link__text" data-gl-text="uppercase">
                See ✦
            </span>
        </a>
    </header>

    <div class="project__content"> 
        <figure class="project__media">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/adventure-time.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <img alt class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/adventure-time-1.jpg">
        </figure>

        <figure class="project__media">
            <img alt class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/adventure-time-2.jpg">
        </figure>

        <figure class="project__media">
            <img alt class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/adventure-time-3.jpg">
        </figure>

        <figure class="project__media">
            <img alt class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/adventure-time-4.jpg">
        </figure>
    </div>
</section>