<section class="project">
    <header class="project__header">
        <div class="project__header__content">
            <p class="project__header__information" data-gl-text="uppercase">
                Apple
            </p>

            <h3 class="project__header__title" data-gl-text="uppercase">
                Apple<br>
                Vision Pro
            </h3>

            <p class="project__header__description" data-gl-text>
                Collaborating with Apple in the development of custom tooling<br>
                for real-time experiences. Our first initiative to launch the results<br>
                of our exploration took place in the Product Tour modal from<br>
                the Apple Vision Pro website.
            </p>
        </div>

        <a class="project__header__link" href="https://apple.com/apple-vision-pro/" target="_blank">
            <span class="project__header__link__text" data-gl-text="uppercase">
                See ✦
            </span>
        </a>
    </header>

    <div class="project__content"> 
        <figure class="project__media">
            <video autoplay class="project__media__image" crossorigin="anonymous" loop muted playsinline src="https://bizarro.sfo3.cdn.digitaloceanspaces.com/apple-vision-pro.mp4"></video>
        </figure>
    </div>
</section>