<section class="project">
    <header class="project__header">
        <div class="project__header__content">
            <p class="project__header__information" data-gl-text="uppercase">
                Apple
            </p>

            <h3 class="project__header__title" data-gl-text="uppercase">
                Apple<br>
                3D Viewers
            </h3>

            <p class="project__header__description" data-gl-text>
                Continuing our efforts on the development of real-time experiences<br>
                across Apple.com pages. We have launched 3D viewers for<br>
                iPhone 15, iPhone 15 Pro and MacBook Pro.
            </p>
        </div>
        
        <a class="project__header__link" href="https://apple.com/iphone-15/" target="_blank">
            <span class="project__header__link__text" data-gl-text="uppercase">
                See ✦
            </span>
        </a>
    </header>

    <div class="project__content"> 
        <figure class="project__media">
            <video autoplay class="project__media__image" loop muted playsinline src="/shared/projects/apple-3d-viewers-1.mp4"></video>
        </figure>

        <figure class="project__media">
            <video autoplay class="project__media__image" loop muted playsinline src="/shared/projects/apple-3d-viewers-2.mp4"></video>
        </figure>
    </div>
</section>