<section class="project">
    <header class="project__header">
        <div class="project__header__content">
            <p class="project__header__information" data-gl-text="uppercase">
                Active Theory
            </p>

            <h3 class="project__header__title" data-gl-text="uppercase">
                Tarot<br>
                with YouTube
            </h3>

            <p class="project__header__description" data-gl-text>
                Implemented the tarot selection zoom animation, camera transitions<br>
                between reading states, card selection and shuffle interaction,<br>
                soul card webcam integration and parallax user interfaces.
            </p>
        </div>

        <a class="project__header__link" href="https://tarot.withyoutube.com/" target="_blank">
            <span class="project__header__link__text" data-gl-text="uppercase">
                See ✦
            </span>
        </a>
    </header>

    <div class="project__content"> 
        <figure class="project__media">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/youtube.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <img alt class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/youtube-1.jpg">
        </figure>

        <figure class="project__media">
            <img alt class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/youtube-2.jpg">
        </figure>
    </div>
</section>