<section class="project">
    <header class="project__header">
        <div class="project__header__content">
            <p class="project__header__information" data-gl-text="uppercase">
                Active Theory
            </p>

            <h3 class="project__header__title" data-gl-text="uppercase">
                Trolli<br>
                Deliciously Dark Escape
            </h3>

            <p class="project__header__description" data-gl-text>
                Collaborated in the project with the development of few elements:<br>
                worm hole introduction, colorful lights system applied to levels,<br>
                enemy particles explosion, transition glitch animations and<br>
                user interface elements.
            </p>
        </div>

        <a class="project__header__link" href="https://trollideliciouslydarkescape.com/awards" target="_blank">
            <span class="project__header__link__text" data-gl-text="uppercase">
                See ✦
            </span>
        </a>
    </header>

    <div class="project__content"> 
        <figure class="project__media">
            <video autoplay class="project__media__image" data-gl-media="/shared/projects/trolli.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <img class="project__media__image" data-gl-media="/shared/projects/trolli-1.jpg">
        </figure>

        <figure class="project__media">
            <img class="project__media__image" data-gl-media="/shared/projects/trolli-2.jpg">
        </figure>

        <figure class="project__media">
            <img class="project__media__image" data-gl-media="/shared/projects/trolli-3.jpg">
        </figure>

        <figure class="project__media">
            <img class="project__media__image" data-gl-media="/shared/projects/trolli-4.jpg">
        </figure>
    </div>
</section>