<section class="project">
    <header class="project__header" data-gl-background>
        <div class="project__header__content">
            <p class="project__header__information" data-gl-text="uppercase">
                Personal
            </p>

            <h3 class="project__header__title" data-gl-text="uppercase">
                WebGL<br>
                Portfolios
            </h3>

            <p class="project__header__description" data-gl-text>
                Collaborated with independent artists and creatives<br>
                winning the Independent of The Year 2021 prize from Awwwards<br>
                with 9 Site of The Day awards in a single year.
            </p>
        </div>

        <a class="project__header__link" data-gl-background-line href="https://www.awwwards.com/bizarro/submissions/" target="_blank">
            <span class="project__header__link__text" data-gl-text="uppercase">
                See ✦
            </span>
        </a>
    </header>

    <div class="project__content">
        <figure class="project__media">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/peggy-gou.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/thieb.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/design-embraced.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/kacper-chlebowicz.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/bruno-arizio.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/studio-maertens-1.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/studio-maertens-2.mp4" loop muted playsinline></video>
        </figure>
    </div>
</section>
