<section class="project">
    <header class="project__header" data-gl-background>
        <div class="project__header__content">
            <p class="project__header__information" data-gl-text="uppercase">
                Personal
            </p>

            <h3 class="project__header__title" data-gl-text="uppercase">
                WebGL<br>
                Typography
            </h3>

            <p class="project__header__description" data-gl-text>
                Using WebGL and GLSL to create typography experiments<br>
                with lyrics from music that I'm listening to while coding.
            </p>
        </div>

        <a class="project__header__link" data-gl-background-line href="https://instagram.com/bizarro/" target="_blank">
            <span class="project__header__link__text" data-gl-text="uppercase">
                See ✦
            </span>
        </a>
    </header>

    <div class="project__content"> 
        <figure class="project__media project__media--50">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/lyrics-1.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media project__media--50">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/lyrics-2.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media project__media--50">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/lyrics-3.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media project__media--50">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/lyrics-4.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media project__media--50">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/lyrics-5.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media project__media--50">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/lyrics-6.mp4" loop muted playsinline></video>
        </figure>
    </div>
</section>
