<section class="project">
    <header class="project__header">
        <div class="project__header__content">
            <p class="project__header__information" data-gl-text="uppercase">
                Personal
            </p>

            <h3 class="project__header__title" data-gl-text="uppercase">
                WebGL<br>
                Portfolios
            </h3>

            <p class="project__header__description" data-gl-text>
                Collaborated with independent artists and creatives<br>
                winning the Independent of The Year 2021 prize from Awwwards<br>
                with 9 Site of The Day awards in a single year.
            </p>
        </div>

        <a class="project__header__link" href="https://www.awwwards.com/bizarro/submissions/" target="_blank">
            <span class="project__header__link__text" data-gl-text="uppercase">
                See ✦
            </span>
        </a>
    </header>

    <div class="project__content">
        <figure class="project__media">
            <video autoplay class="project__media__image" data-gl-media="/shared/projects/peggy-gou.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <video autoplay class="project__media__image" data-gl-media="/shared/projects/thieb.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <video autoplay class="project__media__image" data-gl-media="/shared/projects/design-embraced.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <video autoplay class="project__media__image" data-gl-media="/shared/projects/kacper-chlebowicz.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <video autoplay class="project__media__image" data-gl-media="/shared/projects/bruno-arizio.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <video autoplay class="project__media__image" data-gl-media="/shared/projects/studio-maertens-1.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <video autoplay class="project__media__image" data-gl-media="/shared/projects/studio-maertens-2.mp4" loop muted playsinline></video>
        </figure>
    </div>
</section>
