<section class="project">
    <header class="project__header">
        <div class="project__header__content">
            <p class="project__header__information" data-gl-text="uppercase">
                Active Theory
            </p>
   
            <h3 class="project__header__title" data-gl-text="uppercase">
                Xbox<br>
                Museum
            </h3>

            <p class="project__header__description" data-gl-text>
                Implemented the majority of the features of the experience including:<br>
                main museum selector scene, 3D screens animations and states,<br>
                user progress tracking, character color and shape customization,<br>
                scenes interactive elements and user interfaces.
            </p>
        </div>
   
        <a class="project__header__link" href="https://xbox.activetheory.dev/" target="_blank">
            <span class="project__header__link__text" data-gl-text="uppercase">
                See ✦
            </span>
        </a>
    </header>

    <div class="project__content"> 
        <figure class="project__media">
            <video autoplay class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/xbox.mp4" loop muted playsinline></video>
        </figure>

        <figure class="project__media">
            <img alt class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/xbox-1.jpg">
        </figure>

        <figure class="project__media">
            <img alt class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/xbox-2.jpg">
        </figure>

        <figure class="project__media">
            <img alt class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/xbox-3.jpg">
        </figure>

        <figure class="project__media">
            <img alt class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/xbox-4.jpg">
        </figure>

        <figure class="project__media">
            <img alt class="project__media__image" crossorigin="anonymous" data-gl-media="https://bizarro.sfo3.cdn.digitaloceanspaces.com/xbox-5.jpg">
        </figure>
    </div>
</section>