@font-face {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  src: url('../shared/fonts/fk-grotesk-neue-regular.woff2') format('woff2'),
    url('../shared/fonts/fk-grotesk-neue-regular.woff') format('woff');
}
