<section class="about">
    <div class="about__introduction">
        <p data-gl-text>
            Creative Technologist specialized in crafting<br>
            cutting-edge real-time 3D experiences using<br>
            WebGL, Shaders and JavaScript.
        </p>

        <p data-gl-text>
            Over a decade of experience in the industry<br>
            of creative development working with projects<br>
            across diverse mediums, including websites,<br>
            games, interactive installations and apps.
        </p>

        <p data-gl-text>
            Currently collaborating with Airbnb,<br>
            based in Norwalk, Connecticut.<br>
        </p>
    </div>

    <div class="about__content">
        <div class="about__content__column">
            <div class="about__information">
                <p class="about__information__column" data-gl-text>
                    <a class="about__information__link" href="#inquiries">Business Inquiries</a>
                    <br><br>
                    <a class="about__information__link" href="https://bizarro.notion.site/6f3c556358b64c80b358d43fafc707c0" target="_blank">Awards List</a><br>
                    <a class="about__information__link" href="https://bizarro.notion.site/1910585f05f780c09902f8691a012caf" target="_blank">Projects List</a>
                </p>

                <p class="about__information__column" data-gl-text>
                    <a class="about__information__link" href="https://github.com/bizarro/" target="_blank">GitHub</a><br>
                    <a class="about__information__link" href="https://instagram.com/bizarro/" target="_blank">Instagram</a><br>
                    <a class="about__information__link" href="https://linkedin.com/in/luis-bizarro/" target="_blank">LinkedIn</a><br>
                    <a class="about__information__link" href="https://x.com/bizar_ro/" target="_blank">Twitter</a>
                </p>

                <p class="about__information__column" data-gl-text>
                    18th September, 1995<br>
                    São Paulo<br>
                    Brazil<br>
                    <br>
                    23.5742754° S<br>
                    46.6388007° W
                </p>
            </div>

            <a class="about__credits" data-gl-text href="https://kacper.ch/" target="_blank">
                Design by Kacper
            </a>
        </div>

        <div class="about__content__column">
            <figure class="about__media">
                <img alt="Luis Bizarro" class="about__media__image" data-gl-media="/shared/photo.jpg">
            </figure>

            <div class="about__brands">
                <h2 class="about__brands__title" data-gl-text>
                    Brands:
                </h2>

                <p class="about__brands__description" data-gl-text>
                    Airbnb, Apple, Ambush, Peggy Gou, Xbox, Nike,
                    YouTube, Google, Microsoft, Samsung, Anduril,
                    Expa, One Plus, Lufthansa, Corvette, HBO,
                    Shell, Cartoon Network, Discovery Kids.
                </p>
            </div>
        </div>
    </div>
</section>