<header class="header">
    <div class="header__wrapper">
        <div class="header__column">
            <p class="header__title" data-gl-text="uppercase">
                Luis<br>
                Bizarro
            </p>
        </div>

        <div class="header__column">
            <p class="header__location" data-gl-text="uppercase">
                San Francisco,<br>
                California
            </p>
        </div>

        <div class="header__column">
            <p class="header__role" data-gl-text="uppercase">
                Creative<br>
                Technologist
            </p>

            <p class="header__year" data-gl-text>
                95<br>
                24
            </p>
        </div>

        <div class="header__column">
            <p class="header__shape" data-gl-text>
                ✦
            </p>
        </div>
    </div>

    <h1 class="header__logo">
        <img class="header__logo__media" data-gl-media="/shared/bizarro.png">

        Bizarro
    </h1>
</header>