<header class="header">
    <div class="header__wrapper">
        <div class="header__column">
            <p class="header__title" data-gl-text="uppercase">
                Luis<br>
                Bizarro
            </p>
        </div>

        <div class="header__column">
            <a class="header__location" data-gl-text="uppercase" href="https://hypercube3d.com/" target="_blank">
                Building<br>
                Hypercube
            </a>
        </div>

        <div class="header__column">
            <p class="header__role" data-gl-text="uppercase">
                Creative<br>
                Technologist
            </p>

            <p class="header__year" data-gl-text>
                95<br>
                25
            </p>
        </div>

        <div class="header__column">
            <p class="header__shape" data-gl-text>
                ✦
            </p>
        </div>
    </div>

    <h1 class="header__logo">
        <img alt="Bizarro™" class="header__logo__media" data-gl-media="/shared/bizarro.png" src="/shared/bizarro.png" fetchpriority="high" />

        Bizarro™
    </h1>
</header>