<aside class="inquiries" id="inquiries">
    <button class="inquiries__close" href="#">
        Close
    </button>

    <form class="inquiries__form">
        <div class="inquiries__fields">
            <div class="inquiries__field">
                <input class="inquiries__field__input" name="name" placeholder="Name" required type="text">
            </div>

            <div class="inquiries__field">
                <input class="inquiries__field__input" name="email" placeholder="Email" required type="email">
            </div>

            <div class="inquiries__field">
                <input class="inquiries__field__input" name="subject" placeholder="Subject" required type="text">
            </div>

            <div class="inquiries__field">
                <select class="inquiries__field__input" name="budget" required>
                    <option value="" disabled selected>Budget</option>
                    <option value="$40 000 ― $50 000">$40 000 ― $50 000</option>
                    <option value="$50 000 ― $60 000">$50 000 ― $60 000</option>
                    <option value="$70 000 ― $80 000">$70 000 ― $80 000</option>
                    <option value="Over $80 000">Over $80 000</option>
                </select>
            </div>

            <div class="inquiries__field">
                <textarea class="inquiries__field__input inquiries__field__input--textarea" data-lenis-prevent name="message" placeholder="Message" required></textarea>
            </div>
        </div>

        <button class="inquiries__button">
            Submit
        </button>
    </form>
</aside>
